<% provide(:title, ) %>
<div class="center hero-unit">
  <h1>Access 2 Sign</h1>

  <h2>
    <a href="http://localhost:3000">Access 2 Sign</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

